@import "home.css";
.sec1 {
    margin-top: 12rem;
    height: 65rem;
    background-color: #142e5f;
}

html {
    scroll-behavior: smooth;
}

.comment-head>div {
    padding: 2rem 2rem;
    border-bottom: 0.3rem solid #cc0033;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    width: 13rem;
    z-index: 2;
}

.comment-head {
    margin-bottom: 8rem;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.349);
    height: auto;
}

.comments {
    margin-top: 8rem;
}

.comment {
    height: 20rem;
    width: 1383px;
    border: 0.2rem solid #a3022a;
    background-color: #0f1114;
    color: whitesmoke;
    padding: 2rem 3rem;
    font-size: 2rem;
}

.comment:focus {
    outline: none;
}

.comment::placeholder {
    font-size: 2rem;
}

.comment-btn {
    background-color: #cc0033;
    color: white;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    width: 25rem;
    text-align: center;
    margin: 2rem auto 2rem 0;
    transition: 0.3s;
}

.comment-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.user-comments {
    margin-top: 6rem;
    margin-bottom: 3rem;
    background-color: #1b1d20;
    border-top: 0.5rem solid #cc0033;
    border-radius: 1rem;
    height: 18rem;
    padding: 3rem 2rem;
    padding-bottom: 1rem;
}

.user-comments-texts-name {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.user-comments-texts-text {
    color: rgb(172, 172, 172);
    font-size: 1.8rem;
}

.like-icon {
    color: rgb(206, 206, 206);
    font-size: 3rem;
    margin-right: 2rem;
}

.like-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

.user-comment-part1 {
    display: flex;
    justify-content: space-between;
}


/* 
.reply {
    
} */

.reply-btn {
    color: whitesmoke;
    padding: 1rem 3rem;
    background-color: #cc0033;
    border-radius: 1rem;
    font-size: 1.8rem;
    margin-top: 3.5rem;
    transition: 0.3s;
}

.reply-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.user-comment-part2 {
    display: flex;
}

.like-icon-footer {
    color: gray;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.countlike {
    color: gray;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.time {
    color: gray;
    font-size: 1.4rem;
}

.parts {
    margin-left: 20rem;
    margin-right: 20rem;
}

.links {
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.349);
}

.part>a {
    color: whitesmoke;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.part {
    padding: 1.5rem 2rem;
}

.part-film {
    border-bottom: 0.3rem solid #cc0033;
}

.part:hover {
    border-bottom: 0.3rem solid #cc0033;
}

.film-parts {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.film-parts-head {
    background-color: #cc0033;
    color: whitesmoke;
    font-size: 1.8rem;
    text-align: center;
    width: 14rem;
    padding: 1.5rem 3rem;
    margin-bottom: 4rem;
    border-radius: 10rem;
    position: relative;
    border: none;
}

.triangle {
    position: absolute;
    bottom: -1.1rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 3rem;
    height: 1.5rem;
    background-color: #cc0033;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.explain-text-head {
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.explain-part {
    margin-top: 5rem;
}

.explain-text-text {
    color: rgb(212, 212, 212);
    font-size: 2rem;
    line-height: 1cm;
}

.acctress-part {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.acctress-images {
    display: flex;
    gap: 10rem;
}

.acctress-img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.acter-name {
    color: rgb(206, 206, 206);
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
}

.recommends {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.recom-img {
    height: 30rem;
    transition: 0.9s;
}

.recom:hover .recom-img {
    opacity: 0.2;
}

.recom {
    position: relative;
}

.recom:hover .play {
    display: block;
}

.recom:hover .imdb {
    display: block;
}

.partss {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    /* padding-bottom: 5rem; */
}

.partt {
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    transition: 0.8s;
    position: relative;
}

.part-film-session {
    color: rgb(148, 148, 148);
    font-size: 1.4rem;
    margin-top: 1rem;
}

.subject-part {
    font-size: 1.8rem;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 1rem;
}

.part-film-text {
    padding: 1rem;
    padding-top: 0;
}

.partt:hover {
    transform: scale(1.3);
    background-color: #1b1d20;
    z-index: 5;
    /* height: 1200%; */
}

.partt:hover.film-part-parrant-download {
    transform: scaleY(5);
}

.partt:hover .film-part-download-icon {
    -webkit-animation: scale-up-top 1.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-top 1.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: block;
}

.film-part-download-icon {
    display: none;
    margin-left: 1rem;
    margin-right: auto;
    transition: 0.5s;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}



@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

.play-film {
    position: relative;
}

.partt:hover .play {
    display: block;
}

.part-img {
    transition: 0.9s;
}

.partt:hover .part-img {
    opacity: 0.3;
}